{% extends 'paginas/base.html' %}

{% block content %}
<h1>Listado de Autos Registrados</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Patente</th>
        </tr>
    </thead>
    <tbody>
        {% for auto in autos %}
        <tr>
            <td>{{ auto.marca }}</td>
            <td>{{ auto.modelo }}</td>
            <td>{{ auto.patente }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

